<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!--  combined log ltsv format-->
      <pattern>
        <![CDATA[RemoteHost:%h\tRemoteLogName:%l\tUserName:%u\tdate:%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC}\tRequestUri:%r\tStatusCode:%s\tResponseLength:%b\tReferer:%i{Referer}\tUserAgent:%i{User-Agent}]]></pattern>
    </encoder>
  </appender>

  <appender-ref ref="STDOUT" />

</configuration>
