<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- デフォルト設定読み込み -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>
        <![CDATA[date:%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC}\tthread:%thread\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%msg%n]]></pattern>
    </encoder>
  </appender>

  <!--ローカル環境及びテスト環境では、INFO レベル以上を console に出力する -->
  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="STDOUT" />
    </root>
  </springProfile>

  <springProfile name="prod">
    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
      <webhookUri>
        ${LOGBACK_DISCORD_WEBHOOK}
      </webhookUri>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```%ex{full}```</pattern>
      </layout>
      <!-- Fill in username and avatarUrl with your desired values -->
      <username>Error Notify</username>
      <avatarUrl>http://i.imgur.com/UoiA3OQ.png</avatarUrl>
      <tts>false</tts>
    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="DISCORD" />
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="WARN">
      <appender-ref ref="ASYNC_DISCORD" />
      <appender-ref ref="STDOUT" />
    </root>
  </springProfile>
</configuration>
