<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Distribution Manager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>

<style>
    .my-warning {
        border: 3px solid darkred;
    }
</style>


<body>
<header th:include="header"></header>
<main class="container">
    <form class="form-group" enctype="multipart/form-data" method="post"
          th:action="@{'/mgr/v1/product/' + ${gitHubRepositoryId} + '/distribution'}">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>name</th>
                <th scope="col"
                    th:classappend="|${exe.phase eq 'dev' ? 'bg-warning' : ''} ${exe.phase eq 'alpha' ? 'bg-danger' : ''}|"
                    th:each="exe : ${exeRegisterList}" th:object="${exe}"
                >
                    <a th:href="'https://triela.tk:8443/api/v1/distribution/' + ${gitHubRepositoryId} + '/' + ${exe.getMd5()} + '?phase=' + ${exe.phase}"
                       th:text="*{version}"></a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:classappend="|${asset.draft ? 'bg-warning' : ''} ${asset.preRelease ? 'my-warning' : ''}|"
                th:each="asset : ${assetList}">
                <td><a th:href="${asset.url}" th:text="${asset.name}"></a></td>
                <td th:each="exe : ${exeRegisterList}">
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input"
                               th:checked="${exe.distributionAssetId != null and asset.assetId != null and exe.distributionAssetId.toString() == asset.assetId.toString()}"
                               th:id="${exe.id}" th:name="${exe.id}" th:radiogroup="${exe.id}"
                               th:value="${asset.assetId}" type="radio"/>
                        <label class="custom-control-label" th:for="${exe.id}"></label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success" type="submit">submit</button>
    </form>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>