<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Distribution Manager</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1>Distribution Manager</h1>
    <form action="/mgr/v1/distribution" enctype="multipart/form-data" method="post" th:action="@{/mgr/v1/distribution}">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>name</th>
                <th scope="col" th:each="exe : ${exeRegisterList}" th:object="${exe}" th:text="*{version}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="asset : ${assetList}">
                <td><a th:href="${asset.url}" th:text="${asset.name}"></a></td>
                <td th:each="exe : ${exeRegisterList}">
                    <input th:checked="${exe.distributionAssetId != null and asset.assetId != null and exe.distributionAssetId.toString() == asset.assetId.toString()}" th:name="${exe.md5}" th:radiogroup="${exe.md5}" th:value="${asset.assetId}"
                           type="radio"/>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit">submit</button>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>