<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Distribution Manager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>

<style>
    .my-warning {
        border: 3px solid darkred;
    }
</style>


<body>
<header th:include="header"></header>
<main class="container">
    <h2 th:text="${view.gitHubRepositoryName}"></h2>
    <form class="form-group" enctype="multipart/form-data" method="post"
          th:action="@{'/mgr/v1/product/' + ${view.gitHubRepositoryId} + '/distribution'}">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="btn-group btn-group-toggle" id="Navber">
                <button class="btn btn-success" type="submit">submit</button>
                <button class="btn btn-info" onClick="history.back(); return false;">back</button>
            </div>
        </nav>

        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>name</th>
                <th scope="col"
                    th:classappend="|${exe.phase eq 'dev' ? 'bg-warning' : ''} ${exe.phase eq 'alpha' ? 'bg-danger' : ''}|"
                    th:each="exe : ${view.exeRegistersPageData.content}" th:object="${exe}">
                    <a th:href="'/api/v1/distribution/' + ${view.gitHubRepositoryId} + '/' + ${exe.md5} + '?phase=' + ${exe.phase}"
                       th:text="*{version}"></a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:classappend="|${asset.draft ? 'bg-warning' : ''} ${asset.preRelease ? 'my-warning' : ''}|"
                th:each="asset : ${view.assetFormsPageData.content}">
                <td><a th:href="${asset.releaseUrl}" th:text="${asset.name}"></a></td>
                <td th:each="exe : ${view.getExeRegistersPageData().content}">
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input"
                               th:checked="${exe.distributionAssetId != null and asset.id != null and exe.distributionAssetId.toString() == asset.id.toString()}"
                               th:id="${exe.id} + '-' +${asset.id}" th:name="${exe.id}" th:radiogroup="${exe.id}"
                               th:value="${asset.id}" type="radio"/>
                        <label class="custom-control-label" th:for="${exe.id} + '-' +${asset.id}"></label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <nav aria-label="..." th:unless="${view.getAssetFormsPageData().getSize() == 0}">
        <ul class="pagination">
            <li class="page-item"
                th:classappend="${view.getAssetFormsPageData().first} ? 'disabled':''">
                <a class="page-link"
                   th:href="@{/mgr/v1/product/{githubrepoid}/distribution(githubrepoid=${view.gitHubRepositoryId},page=0)}"
                   aria-label="|<">
                    first
                </a>
            </li>
            <li class="page-item"
                th:each='i : ${#numbers.sequence(0, view.getAssetFormsPageData().totalPages -1)}'
                th:classappend="(${i}==${view.getAssetFormsPageData().number})? 'active' : ''">
                <a class="page-link" href="#"
                   th:href="@{/mgr/v1/product/{githubrepoid}/distribution(githubrepoid=${view.gitHubRepositoryId},page=${i})}">
                    <span th:text='${i+1}'>1</span>
                </a>
            </li>
            <li class="page-item"
                th:classappend="${view.getAssetFormsPageData().last} ? 'disabled':''">
                <a class="page-link" href="#" aria-label=">|"
                   th:href="@{/mgr/v1/product/{githubrepoid}/distribution(githubrepoid=${view.gitHubRepositoryId},page=${view.getAssetFormsPageData().totalPages}-1)}">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>

</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>
