<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Distribution Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h1>Exe Register Manager</h1>

    <table class="table table-striped">
        <tbody>
            <tr class="thead-light">
                <th scope="col">product</th>
                <th scope="col">md5</th>
                <th scope="col">version</th>
                <th scope="col">description</th>
                <th scope="col">operation</th>
            </tr>
            <tr>
                <form action="/exeRegister" th:action="@{/exeRegister}" method="post" enctype="multipart/form-data" th:object="${form}">
                    <td><input type="text" th:field="*{product}"/></td>
                    <td><input type="text" th:field="*{md5}" /></td>
                    <td><input type="text" th:field="*{version}" /></td>
                    <td><input type="text" th:field="*{description}" /></td>
                    <td><button type="submit">regist</button></td>
                </form>
            </tr>
            <tr class="thead-light">
                <th scope="col">product</th>
                <th scope="col">md5</th>
                <th scope="col">version</th>
                <th scope="col">description</th>
                <th scope="col">operation</th>
            </tr>
            <tr th:each="exe : ${exeList}" th:object="${exe}">
                <td th:text="*{product}"></td>
                <td th:text="*{md5}"></td>
                <td th:text="*{version}"></td>
                <td th:text="*{description}"></td>
                <td><button >delete</button><td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>