<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Product Manager</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">

</head>

<body>
<div class="container">
    <header th:include="header"></header>

    <p>productはあなたがadminのgithubのrepositoryと対応します。</p>
    <table class="table table-striped">
        <thead>
        <tr class="thead-light">
            <th scope="col">GitHub repository id</th>
            <th scope="col">GitHub repository name</th>
            <th scope="col">exe</th>
            <th scope="col">distribution</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${list}" th:object="${product}">
            <td th:text="*{gitHubRepositoryId}"></td>
            <td th:text="*{gitHubRepositoryName}"></td>
            <td>
                <a th:href="@{'/mgr/v1/product/' + ${product.gitHubRepositoryId} + '/exe'}">link</a>
            </td>
            <td>
                <a th:href="@{'/mgr/v1/product/' + ${product.gitHubRepositoryId} + '/distribution'}">link</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>