<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Product Manager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>

<body>
<header th:include="header"></header>

<main class="container" role="main">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:object="${condition}">
        <div class="collapse navbar-collapse" id="Navber">
            <form class="form-inline my-2 my-lg-0" th:action="@{'/mgr/v1/product'}" th:method="get">
                <input th:value="${condition.name}"
                       type="search"
                       th:name="name"
                       class="form-control mr-sm-2"
                       placeholder="eu4..."
                       list="suggest"
                       aria-label="Search...">
                <datalist id="suggest">
                    <option value="CK2"></option>
                    <option value="EU4"></option>
                    <option value="ImperatorRome"></option>
                    <option value="Mod"></option>
                    <option value="font"></option>
                </datalist>
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>
        </div>
    </nav>

    <table class="table table-hover" th:object="${form}">
        <thead>
        <tr class="thead-light">
            <th scope="col">GitHub repository name</th>
            <th scope="col">exe</th>
            <th scope="col">distribution</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${form.data}">
            <td>
                <a class="form-control btn btn-outline-primary"
                   th:href="'https://github.com/' + ${element.gitHubRepositoryName}"
                   th:text="${element.gitHubRepositoryName}"></a>
            </td>
            <td>
                <a class="form-control btn btn-success"
                   th:href="@{'/mgr/v1/product/' + ${element.gitHubRepositoryId} + '/exe'}">Settings</a>
            </td>
            <td>
                <a class="form-control btn btn-info"
                   th:href="@{'/mgr/v1/product/' + ${element.gitHubRepositoryId} + '/distribution'}">Settings</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="..." th:unless="${form.getData().getSize() == 0}">
        <ul class="pagination">
            <li class="page-item"
                th:classappend="${form.getData().first} ? 'disabled':''">
                <a class="page-link"
                   th:href="@{${'/mgr/v1/product'}(page=0,name=${condition.getName()})}"
                   aria-label="|<">
                    first
                </a>
            </li>
            <li class="page-item"
                th:each='i : ${#numbers.sequence(0, form.getData().totalPages -1)}'
                th:classappend="(${i}==${form.getData().number})? 'active' : ''">
                <a class="page-link" href="#" th:href="@{${'/mgr/v1/product'}(page=${i},name=${condition.getName()})}">
                    <span th:text='${i+1}'>1</span>
                </a>
            </li>
            <li class="page-item"
                th:classappend="${form.getData().last} ? 'disabled':''">
                <a class="page-link" href="#" aria-label=">|"
                   th:href="@{${'/mgr/v1/product'}(page=(${form.getData().totalPages}-1),name=${condition.getName()})}">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>