<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Product Manager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>

<body>
<header th:include="header"></header>

<main class="container" role="main">
    <p>These items are Github repositories where you have Push authority.</p>
    <table class="table table-hover ">
        <thead>
        <tr class="thead-light">
            <th scope="col">GitHub repository name</th>
            <th scope="col">exe</th>
            <th scope="col">distribution</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${list}" th:object="${product}">
            <td>
                <a class="form-control btn btn-outline-primary"
                   th:href="'https://github.com/' + *{gitHubRepositoryName}"
                   th:text="*{gitHubRepositoryName}"></a>
            </td>
            <td>
                <a class="form-control btn btn-success"
                   th:href="@{'/mgr/v1/product/' + ${product.gitHubRepositoryId} + '/exe'}">Settings</a>
            </td>
            <td>
                <a class="form-control btn btn-info"
                   th:href="@{'/mgr/v1/product/' + ${product.gitHubRepositoryId} + '/distribution'}">Settings</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>